<div th:fragment="menu">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/login/}">AppDMS</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
		<nav>
      <ul class="navbar-nav ms-auto">

        <!-- Opción fija de Inicio -->
        <li class="nav-item">
          <a class="nav-link" th:href="@{/login/}">Inicio</a>
        </li>

        <!-- Menú dinámico según las vistas del rol -->

		<li th:each="rv : ${session.rolVistasUsuario}" class="nav-item">
		  <a class="nav-link"
		     th:text="${rv.vista.nombreVista}"
		     th:href="${rv.vista.ruta}"></a>
		</li>


        <!-- Opcional: otras secciones fijas -->
        <li class="nav-item"><a class="nav-link" th:href="@{/about/about}">Acerca de</a></li>

        <!-- Botón de cerrar sesión -->
        <li class="nav-item">
          <a class="nav-link text-warning fw-bold" th:href="@{/login/logout}">Cerrar sesión</a>
        </li>

      </ul>
	  </nav>
    </div>
  </div>
</nav>
</div>
